@charset "UTF-8";

a {
	text-decoration: none;
}

/* table */
table, tr, td, th { border: solid 1px navy; padding: 5px; margin: 5px; }

/*-----------------------carousel---------------------------*/

#carousel {
	margin: 0 auto;
	width: 55%!important;
}

.carousel_div {
	margin-top: 3.5rem;
}

.carousel-item img {
	height: 400px!important;

}

/*-----------------------top---------------------------*/

.topMenu img {
	width: 88px;
	height: 76px;
	position: absolute; 
	left: 0; 
	bottom: 0;
}
.topMenu {
	text-align: right;
}
.topMenu .col-9 .topSide {
	position: absolute; 
	right: 0; 
	bottom: 0;
}
.topSide a {
	padding: 2px;
	color: #757575;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}

.topSide a:hover {
	color: #ff8971!important;
	text-decoration: none;
}

.topMenu {
	height: 165px;
	padding: 10px 40px;
	max-width: 1256px;
}

/*-----------------------middle---------------------------*/
.content {
	margin: 1rem auto;
}

.midMenu {
	margin: 1rem auto;
	padding: .5rem 0;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

.middleMenu {
	text-align: center;
}

.middleMenu a {
	padding: 0 1rem;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
}

a {
	color: #757575!important;
}

a:hover {
	color: #ff8971;
}

/*-----------------------side---------------------------*/

.sideMenu {
	height: 25px;
	padding: 10px 40px;
	max-width: 100px;
}

.side {
	position: relative;
	left: 29%;
	margin-left: 60px;
	text-align: left; padding : 2px;
	color: #757575;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	padding: 2px;
}

/*-----------------------footer---------------------------*/
.footer_wrap {
	background-color: #fafafa;
}

.footer {
	display: block;
	max-width: 1600px;
	margin: 0 auto;
	padding: 30px 15px 40px;
	box-sizing: border-box;
	background-color: #fafafa;
}

.footer1 {

    font-weight: 700;
    color: #424242;
}

.footer2 {
	display: inline-block;
	margin: 2px 0 0;
	font-size: 28px;
	font-weight: 700;
	color: #424242;
	line-height: 36px;
}

.footer3 {
	color: #757575;
	font-size: 13px;
	
}

.footericon {
    font-size: 11px;
}












