@charset "UTF-8";

.layer:nth-child(1) {
	text-align: center;
	background-color: #ffa895;
}

.signUpFormDiv {
	margin-top: 5vw;
	margin-left: 30vw;
}
.signUpForm {
	border: 0;
	width: 600px;
	height: 350px;
}
.signUpFormDiv > table, tr, td {
	border: 0;
}

.signUpFormDiv .layer:last-child {
	text-align: center;
}

.signInFormDiv {
	margin-top: 5vw;
	margin-left: 35vw;
}

.signInForm {
	border: 0;
	width: 600px;
	height: 250px;
}

.signInFormDiv table, tr, td {
	border: 0;
}

.tdTitle {
	width: 100px;
}
.tdContent input {
	width: 80%;
	height: 35px;
}

.tdFull {
	text-align: center;	
}

.signInBtn {
	width: 72%;
	height: 35px;
	border: 0;
	color: rgba(10, 10, 10, 1);
	text-decoration: none;
}

.javaBtn {
	background-color: #FFF;
	border: 3px solid #ffa895; 
}
.javaBtn:hover {
	background-color: #ffa895;
}

.googleBtn {
	border: 3px solid #0096ff;
	background-color: #FFF;
}
.googleBtn a {
	color: #000 !important;
}
.googleBtn:hover {
	background-color: #0096ff;
}

.signInBtn {
	color: rgb(0,0,0) !important;
	text-decoration: none;
}
.signInBtn a:hover {
	text-decoration: none;
}

/* 회원정보 조히 페이지 */
.myPageFormDiv {
	margin-top: 5vw;
	margin-left: 30vw;
}
.myPageFormDiv > table, tr, td {
	border: 0;
}
.myPageForm {
	border: 0;
	width: 600px;
	height: 350px;
}

.myPageFormDiv .layer:last-child {
	text-align: center;
}
